<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Medication Take Back</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
      </ul>
    </div>
  </nav>
  <div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" [(ngModel)]="rxcui" placeholder="RXCUI Number" aria-label="RXCUI Number" aria-describedby="button-addon2">
      <div class="input-group-append">
          <select (change)="selectDataSource($event.target.value)">
              <option *ngFor="let summary of dataSources" value={{summary}}>
                  {{summary}}
              </option>
          </select>
      </div>
      <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="retriveData()" type="button" id="button-addon2">Go</button>
        </div>
    </div>    
    <div>
      <span  *ngFor="let res of result">
          <h4>{{res.minConceptItem.name}}</h4>
          <span *ngFor="let item of res.interactionPair | slice:0:5">
              <ul>
                <li><b>Severity : </b>{{item.severity}}</li>
                <li><b>Description : </b>{{item.description}}</li>
            </ul>
          </span>
      </span>
    </div>
  </div>